<section id="columns">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">CALENDAR</div>
            <p class="content-sub-header">Here you can see your goals and tasks due date. You can click on date of your choice and create new goal too</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- weekNumberCalculation='ISO' -->
            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="events" (dateClick)="onDateClick($event)"></full-calendar>
        </div>
    </div>
</section>