// Forgot Password
#forgot-password {
    .forgot-password-bg {
        background-image: url("assets/img/photos/14.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .fg-image {
        padding: 0;
        background: #f0f0f0;
    }
    .login-btn {
        .btn.btn-outline-primary {
            &:hover {
                a {
                    color: #fff;
                }
            }
        }
    }
    .recover-pass {
        button.btn.btn-primary {
            color: #fff !important;
        }
    }
}