<!-- Minimal statistics start-->
<section id="minimal-statistics">
    <div class="row">
        <div class="col-10 mb-1">
            <div class="content-header">Your progress dashboard</div>
            <p class="content-sub-header">This is summary of goals, actions and ideas added by you and your achievement rate.
            </p>
        </div>
        <div class="col-2 mb-1">
            <img class="img-fluid" src="./assets/img/logos/lot-logo-white-full.png" alt="">
        </div>
    </div>

    <!-- Minimal statistics first row-->
    <div class="row" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12" *ngFor="let stat of minStaticsDataFirstRow">
            <app-min-statistic-card [stat]="stat">
            </app-min-statistic-card>
        </div>
    </div>
    <!-- Minimal statistics second row-->
    <div class="row" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12" *ngFor="let stat of minStaticsDataSecondRow">
            <app-min-statistic-card [stat]="stat"></app-min-statistic-card>
        </div>
    </div>
</section>
<!-- Min statistics end-->


<div class="col-sm-12 mt-3 mb1">
    <div class="content-header">Latest Goals</div>
    <p class="content-sub-header">The last 3 goals added in application or those with nearest deadline.</p>

</div>
<div class="row" *ngIf="(donutCharts$ | async)?.length == 0">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">You have no goals yet</h6>
            </div>
        </div>
    </div>
</div>

<!--Donut chart start-->
<div class="row">
    <div class="col-xl-4 col-lg-12" *ngFor="let chart of donutCharts$ | async">
        <app-chart [chart]='chart'>
        </app-chart>
    </div>
</div>
<!--Donut chart end-->

<!--Bar chart starts-->
<div class="row text-left">
    <div class="col-sm-12">
        <app-bar-chart [chart]='barChart$ | async'>
        </app-bar-chart>
    </div>
</div>
<!--Bar chart ends-->


<div class="row match-height">
    <div class="col-xl-6 col-lg-12">
        <!-- Calendar starts-->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My shedule</h4>
            </div>
            <div class="card-content">
                <div class="card-body calendar">
                    <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="calendarEvents">
                    </full-calendar>
                </div>
            </div>
        </div>
        <!-- Calendar ends-->
    </div>
    <!-- Blog`s posts start-->
    <div class="col-xl-6 col-lg-12">
        <app-blog-posts [posts]="blogPosts">
        </app-blog-posts>
    </div>
    <!-- Blog`s posts end-->
</div>