// For Registration page
#regestration {
    background-image: url("assets/img/photos/14.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .register-img {
        background: #f0f0f0;
        padding: 0;
    }
    .login-btn {
        .btn.btn-outline-primary {
            &:hover {
                a {
                    color: #fff;
                }
            }
        }
    }
    .recover-pass {
        button.btn.btn-primary {
            color: #fff !important;
        }
    }
    button:disabled {
        cursor: not-allowed;
    }
}