<ng-template [ngIf]="task">
    <tr>
        <td>
            <span class="small text-muted">Due Date: </span><span class="small" [ngClass]=" {'action-date-ok': (task.taskLeftDays < -3  || task.status == 1), 'action-date-warn': (task.taskLeftDays < 1 &&
                    task.taskLeftDays > -4 && task.status == 0), 'action-date-over': (task.taskLeftDays > 0 &&
                    task.status == 0)}"> <span *ngIf='task.until_date.day < 10'>0</span>{{task.until_date.day}}/<span *ngIf='task.until_date.month< 10'>0</span>{{task.until_date.month}}/{{task.until_date.year}}
            </span>
            <p id="action{{task.id}}" [ngClass]=" {'action-date-ok': task.status == 1}">{{task.title}}</p>
        </td>
        <td style="width: 25%">
            <a class="success p-0" data-original-title="" alt="Complete Action" title="Complete Action" data-toggle="modal" data-target="#action" (click)="changeStatus('action', task.id, task.status)">
                <i class="ft-check font-medium-3 mr-1"></i>
            </a>
            <a class="success p-0" data-original-title="" alt="Edit Action" title="Edit Action" data-toggle="modal" data-target="#action" ngbPopover="If you want to edit the task, you need to update goal due date first!" [triggers]="isGoalExpired ? 'mouseenter:mouseleave' : 'manual'"
                popoverTitle="Change goal due date first!" (click)="!isGoalExpired ? openModal('createEditModal', 'action', 'edit', task, goalUntilDate) : null" [class.disabled]="isGoalExpired
                ? true: null">
                <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
            <a class="danger p-0" data-original-title="" alt="Delete Action" title="Delete Action" (click)="openModal('confirmModal', 'action', 'delete', task, goalUntilDate)">
                <i class="ft-x font-medium-3 mr-2"></i>
            </a>
        </td>
    </tr>
</ng-template>