.modal-header {
    background-color: #009DA0
}

button.close {
    border: 0;
}

button:disabled {
    cursor: not-allowed;
}

.dropzone {
    min-height: 350px;
    border: 2px dashed #009DA0;
    background: #f5f7fa;
}