<section id="columns">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">WELLBEING | {{title | titlecase}} me</div>
            <p class="content-sub-header">You will find really good and helpful resources in this section</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-1">
            <div class="card-columns">
                <ng-template ngFor [ngForOf]="posts" let-post>
                    <app-card-text *ngIf="post.mediaType === 0" [post]="post">
                    </app-card-text>
                    <app-card-video *ngIf="post.mediaType !== 0" [post]="post">
                    </app-card-video>
                </ng-template>
            </div>
        </div>
    </div>

</section>




<!-- <ng-template ngFor [ngForOf]="posts" let-post let-i="index " let-l=count>
    <div class="row" *ngIf="(i)%3===0 || i === 0">
        <div class="col-sm-12 col-md-4" *ngIf="i+0 < l">
            <div class="card-columns">
                <app-card-text *ngIf="post.hasOwnProperty('imageUrl')" [post]="posts[i+0]">
                </app-card-text>
                <app-card-video *ngIf="!post.hasOwnProperty('imageUrl')" [post]="posts[i+0]">
                </app-card-video>
                <app-card-audio *ngIf="post.hasOwnProperty('audioUrl')" [post]="posts[i+0]">
                </app-card-audio>
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="i+1< l">
                <app-card-text *ngIf="post.hasOwnProperty('imageUrl')" [post]="posts[i+1]">
                </app-card-text>
                <app-card-video *ngIf="!post.hasOwnProperty('imageUrl')" [post]="posts[i+1]"></app-card-video>
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="i+2< l">
                <app-card-text *ngIf="post.hasOwnProperty('imageUrl')" [post]="posts[i+2]">
                </app-card-text>
                <app-card-video *ngIf="!post.hasOwnProperty('imageUrl')" [post]="posts[i+2]"></app-card-video>
                <app-card-audio *ngIf="post.hasOwnProperty('audioUrl')" [post]="posts[i+2]"></app-card-audio>
            </div>
        </div>
    </div>
</ng-template> -->