// Login Page
#login {
    background-image: url("assets/img/photos/14.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .login-img {
        padding: 0;
        background: #f0f0f0;
    }
    button:disabled {
        cursor: not-allowed;
    }
    .login-btn {
        .btn.btn-outline-primary {
            &:hover {
                a {
                    color: #fff;
                }
            }
        }
    }
    .recover-pass {
        button.btn.btn-primary {
            color: #fff !important;
        }
    }
    .forgot-password-option,
    .remember-me {
        a.text-decoration-none,
        .custom-control-label {
            font-size: 14px;
        }
    }
}