<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body login-img">
                            <div class="row m-0">
                                <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                                    <img src="assets/img//ico/android-chrome-512x512.png" alt="" class="img-fluid mt-5" width="400" height="230" />
                                </div>
                                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                    <h4 class="card-title mb-2">Login</h4>
                                    <p class="card-text mb-3">
                                        Welcome back, please login to your account.
                                    </p>
                                    <form #loginForm="ngForm" (ngSubmit)="login()">
                                        <input type="text" class="form-control mb-3" placeholder="Email" name="email" #email="ngModel" ngModel email required />
                                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                                            <div *ngIf="email.errors.required">
                                                Email is required!
                                            </div>
                                            <div *ngIf="email.errors.email">
                                                Insert valid email. example@example.exp
                                            </div>
                                        </div>
                                        <input type="password" class="form-control mb-3" placeholder="Password" name="password" #password="ngModel" minlength="2" maxlength="15" required ngModel />
                                        <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                                            <div *ngIf="password.errors.required">
                                                Please insert password!
                                            </div>
                                            <div *ngIf="password.errors.minlength || password.errors.maxlength">
                                                Password must be between 2 and 15 symbols long!
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-between mt-2">
                                            <!-- <div class="remember-me">
                                                <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                                    <input type="checkbox" id="rememberMe" name="rememberMe" class="custom-control-input" ngModel />
                                                    <label class="custom-control-label" for="rememberMe">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div> -->
                                            <!-- <div class="forgot-password-option">
                                                <a [routerLink]="['/forgotpassword']" class="text-decoration-none text-primary">Forgot
                                                    Password ?</a>
                                            </div> -->
                                        </div>
                                        <div class="fg-actions d-flex justify-content-between">
                                            <div class="login-btn">
                                                <button class="btn btn-outline-primary">
                                                    <a [routerLink]="['/user/register']"
                                                        class="text-decoration-none">Register</a>
                                                </button>
                                            </div>
                                            <div class="recover-pass">
                                                <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
                                                    <!-- <a [routerLink]="['login']"
                                                        class="text-decoration-none text-white">Login</a> -->
                                                    Login
                                                </button>
                                            </div>
                                        </div>
                                        <!-- <hr class="m-0" />
                  <div class="d-flex justify-content-between mt-3">
                    <div class="option-login">
                      <h6 class="text-decoration-none text-primary">
                        Or Login With
                      </h6>
                    </div>
                    <div class="social-login-options">
                      <a class="btn btn-social-icon mr-2 btn-facebook">
                        <span class="fa fa-facebook"></span>
                      </a>
                                            <a class="btn btn-social-icon mr-2 btn-twitter">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </div>
                                    </div> -->
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->