<!-- <div class="col-sm-12 col-md-6"> -->
<ng-template [ngIf]='post'>
    <div class="card">
        <div class="card-content">
            <img class="card-img-top img-fluid" [src]="post.imageUrl? post.imageUrl :   './assets/img/photos/06.jpg'" alt="image">
            <div class="card-body">
                <h4 class="card-title" *ngIf="post.title" [innerHtml]="post.title | safe: 'html'"></h4>
                <h6 class="card-text">{{post.date}}</h6>
                <p></p>
                <p class="card-text" [innerHtml]="post.content | safe: 'html'" *ngIf="post.content">
                </p>
                <a [href]="post.link? post.link : ''" class="btn btn-raised btn-warning" target="_blank">View more</a>
            </div>
        </div>
    </div>
</ng-template>
<!-- </div> -->